# Format is:
# <preferred e-mail> <other e-mail 1>
# <preferred e-mail> <other e-mail 2>
Allen Riddell riddella+lda-project@indiana.edu abr@ariddell.org ariddell@users.noreply.github.com ariddell
Timothy Hopper tdhopper@gmail.com
Shaoze Luo luoshao23@gmail.com
