# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

# scipy needed for tests with sparse matrices
scipy>=0.10.1

hacking>=0.9.2,<0.10

coverage>=3.6
discover
python-subunit
sphinx>=1.1.2
oslosphinx
oslotest>=1.1.0.0a2
testrepository>=0.0.18
testscenarios>=0.4
testtools>=0.9.34
numpydoc>=0.5
sphinx_rtd_theme>=0.1.6
flake8>=2.1.0
Cython>=0.19
